body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.mainContainer{
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 20px auto;
    position: relative;
}

header{
    display: flex;
    align-items: center;
    background-color: antiquewhite;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

    }

.hobbyPng{
    width: 100px;
    height: 100px;
    padding-left: 20px;
}

.appName{
    padding: 0px 0px 0px 40px;
    font-size: 1.15rem;
}

.appPurpose{
    font-size: 1.75rem;
}

/* main */
main{
    text-align: center;
}

.hobbiesContainer{
    width: 260px;
    margin: 0px auto;
    border: 1px solid lightgrey;
    border-radius: 5px;
    border-bottom: none;
}

.hobby{
    display: flex;
    justify-content: space-between;
    padding: 7px;
    border-bottom: 1px solid lightgrey;
    accent-color: red;
}

.highlight{
    background-color: aquamarine;
}

/* footer */
.inputContainer{
    text-align: center;
    margin: 20px 0px;
}

.getPartner-btn{
    display: block;
    padding: 15px;
    border: none;
    background-color: blanchedalmond;
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    margin: 20px auto;
    color: blueviolet;
    cursor: pointer;
}

.getPartner-btn:focus, .getPartner-btn:active{
    transform: scale(0.95);
}

/* slides */
.modal{
    display: none;
    margin: 0px auto;
    width: 450px;
    height: 490px;
    border: none;
    background-color: antiquewhite;
    position: fixed;
    top: 0;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;   
}

.closeModalBtn {
    font-size: 1rem;
    border: none;
    background: none;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 7px 7px;
}

.closeModalBtn:hover{
    background-color: antiquewhite;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.closeModalBtn:focus, .closeModalBtn:active {
    color: brown;
}

.imgResult{
    width: 100%;
    height: 90%;
    position: absolute;
    top: 30px;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

.previous, .next{
    font-weight: lighter;
    position: absolute;
    top: 50%;
    padding: 25px 7px;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: antiquewhite;
}

.next{
    right: 0;
}

.previous:hover, .next:hover{
    background-color: rgb(78, 77, 77);
    color: aliceblue;
}

.previous:active,
.next:active,
.previous:focus,
.next:focus {
    padding: 24px 6px;
    animation-name: fade;
    animation-duration: 1s;
}


.testcontainer{
    filter: blur(10px);
}